.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #212121;
  padding: 30px 30px 30px 80px;
  margin-top: 30px;
  border-radius: 1px;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.Projects {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.ProjectCard {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  height: 400px;
  text-align: center;
  justify-content: space-between;
  /* border-top: 2px solid rgb(209, 15, 209); */
}

.img_desc {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.img_desc img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.descOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(39, 38, 38, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline-start: 5px;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.ProjectCard h2,
.ProjectCard p,
.ProjectCard a {
  margin: 0;
  padding: 0;
}

.ProjectCard a {
  margin-top: 10px;
  text-decoration: none;
  border: 2px solid rgb(209, 15, 209);
  color: rgb(209, 15, 209);
  border-radius: 5px;
  padding: 15px;
  transition: 500ms all ease-in-out;
}

.ProjectCard a:hover {
  background-color: rgb(209, 15, 209);
  color: #212121;
}

.ProjectCard .emBreve {
  border: 2px solid rgb(124, 122, 124);
  color: rgb(124, 122, 124);
  cursor: default;
}

.ProjectCard a.emBreve:hover {
  color: rgb(124, 122, 124);
  background-color: transparent;
}

.meContainer {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
  border: solid 5px rgb(209, 15, 209);
}

.meContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.Container h1 {
  color: rgb(209, 15, 209);
}

.Table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Table tbody {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.Table tr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.Table td {
  border: solid 1px rgb(209, 15, 209);
  border-radius: 6px;
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Table td:nth-child(1) {
  width: 50px;
}

.Table td:nth-child(2),
.Table td:nth-child(3) {
  width: 200px;
}

.Table thead {
  width: 100%;
  max-width: 456px;
}

.Interesses td {
  flex: 0 0 200px;
}

:global(#Automacao) {
  max-width: 456px;
}

.Automacao td:first-child {
  width: 50%;
}

.Automacao td:last-child {
  width: 50px;
}

.expandedRow td,
.expandedRow,
.expandedRow p {
  flex: 0 0 100%;
}

.expandedRow td {
  text-align: start;
  background-color: rgb(51, 0, 26);
}

.expandedRow {
  margin-bottom: 30px;
}
